.ad-X-follow-card button {
    margin-left: 5px; /* Ajusta el valor según tus preferencias */
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    color: #000;
}

.ad-X-follow-card-btnFollow {
    background-color: #fff; /* color de fondo inicial */
    color: #000; /* color de texto inicial */
}

.ad-X-follow-card-btnFollow .hover {
    display: none;
}

.ad-X-follow-card-btnFollow:hover {
    background-color: black ;
    color: red;
    font-weight: 600;
    font-size: .7rem;
}

.ad-X-follow-card-btnFollow:hover .initial {
    display: none;
}

.ad-X-follow-card-btnFollow:hover .hover {
    display: inline;
}

.ad-X-follow-card .hover{
    display: none;
}

.ad-X-follow-card img {
    max-width: 45px;
    width:50%;
    height: auto;
    display: block;
    border-radius: 1000px;
}

.ad-X-follow-card-header span {
    opacity: .7;
}

.ad-X-follow-card-info {
    display: flex;
    flex-direction: column;
}

.ad-X-follow-card-header {
    display: flex;
    align-items: center;
    gap: 5px; /* Ajusta el espacio entre elementos según tus preferencias */
}

.ad-X-follow-card {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
}
